.golemsocialbox {
	overflow:hidden;
	margin:0 auto;
	outline:1px solid #DDD;
}

	.golemsocialbox .golem_box {
		overflow:hidden;
		margin:0;
		padding:5px;
		width:100%;
	}
	
	/*FLIKE*/
	.golemsocialbox .golem_fblike_box {
		background-color:#E4EEF5;
		display:block;
		border-top:1px solid white;
		border-bottom: 1px solid #DDD;
	}

	/*TWITTER*/
	.golemsocialbox .golem_twitter_follow_button {
		background-color:#ECF6FA;
		display:block;
		border-top:1px solid white;
		border-bottom:1px solid #DDD;
	}

	/*PINTEREST*/
	.golemsocialbox .golem_pin_follow_button {
		background-color:#FDFAEF;
		padding:10px;
		display:block;
		font-family:"Arial",sans-serif;
		font-size:10pt;
		font-weight:bold;
		line-height:16px;
		color:#444;
		border-top:1px solid white;
		border-bottom:1px solid #DDD;
	}
	
		.golemsocialbox .golem_pin_follow_button .pinterest_icon a:link {
			background-color:#FFF;
			background-color:#FAF7F7;
			text-decoration:none;
			padding:4px !important;
			border:1px solid #CCC;
			
			-moz-border-radius:4px;
			-webkit-border-radius:4px;
			-khtml-border-radius:4px;
			border-radius:4px;
		}
			
			.golemsocialbox .golem_pin_follow_button .pinterest_icon a:visited {
				background-color:transparent;
				text-decoration:normal;
				border:1px solid #CCC;
			}
		
			.golemsocialbox .golem_pin_follow_button .pinterest_icon a:hover {
				background-color:#E1DFDF;
				text-decoration:normal;
				border:1px solid #CCC;
			}
			
			.golemsocialbox .golem_pin_follow_button .pinterest_icon a:active {
				background-color:transparent;
				text-decoration:normal;
				border:1px solid #CCC;
			}
			
			.golemsocialbox .golem_pin_follow_button .pinterest_icon a img {
				vertical-align:bottom;
			}

	/*G+*/
	.golemsocialbox .golem_gp_add_badge {
		background-color:#EEE;
		display:block;
		border-top:1px solid white;
	}
	
	/*RSS*/
	.golemsocialbox .golem_rss_feed {
		background-color:#EEE;
		padding-bottom:7px;
		display:block;
		font-family:"Arial",sans-serif;
		font-size:10pt;
		font-weight:bold;
		line-height:16px;
		color:#444;
	}
	
		.golemsocialbox .golem_rss_feed .rss_icon a:link {
			background-color:#FFF;
			color:#648EA9;
			text-decoration:none;
			padding:2px !important;
			border:1px solid #CCC;
			
			-moz-border-radius:4px;
			-webkit-border-radius:4px;
			-khtml-border-radius:4px;
			border-radius:4px;
		}
			
			.golemsocialbox .golem_rss_feed .rss_icon a:visited {
				background-color:transparent;
				color:#648EA9;
				text-decoration:normal;
				border:1px solid #CCC;
			}
		
			.golemsocialbox .golem_rss_feed .rss_icon a:hover {
				background-color:#648EA9;
				color:#F99217;
				color:#FFF;
				text-decoration:normal;
				border:1px solid #648EA9;
			}
			
			.golemsocialbox .golem_rss_feed .rss_icon a:active {
				background-color:transparent;
				color:#FFF;
				text-decoration:normal;
				border:1px solid #CCC;
			}
			
			.golemsocialbox .golem_rss_feed .rss_icon a img {
				vertical-align:bottom;
			}
	
